<h1>Editing calification</h1>

<% form_for(@calification) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :customer %><br />
    <%= f.text_field :customer %>
  </p>
  <p>
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </p>
  <p>
    <%= f.label :texto_calif %><br />
    <%= f.text_area :texto_calif %>
  </p>
  <p>
    <%= f.label :value_calif %><br />
    <%= f.text_field :value_calif %>
  </p>
  <p>
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @calification %> |
<%= link_to 'Back', califications_path %>