<div class="learning2"> 
<div style="margin: 4px 8px;"> <span class="tith2"><%=t 'education.learn' %></span></div>

  <table style="margin-bottom: 6px; width: 97%;" align="center" border="0"><tbody><tr> 
      <td>- <a href="/jm/ml.faqs.portalFaqs.FaqsController?axn=verFaq&amp;faqId=2400&amp;categId=BUY"><%=t 'education.how_to_buy' %></a><br> 
       - <a href="p_loadhtml?as_menu=CSEG&amp;as_html_code=CSEG03"><%=t 'education.advices' %></a></td> 
      <td>- <a href="p_loadhtml?as_menu=M06S00&amp;as_html_code=MERCADOLIBRE_SEGURO"><%=t 'education.why_ml' %></a><br> 
       - <a href="/jm/ml.faqs.portalFaqs.FaqsController?axn=verFaq&amp;faqId=2403&amp;categId=AFBUY"><%=t 'education.how_pay' %></a><br></td> 
    </tr> 
  </tbody></table> 
</div><br> 

<br>