<div class="BigContainer"> 
    <div id="pathcateg"> 
      <div class="backlist"> <span id="listButton" style="position: relative; width: 250px; height: 20px;"></span> </div>
      <div class="breadcrumb">
		<% for category in @categories %>
			<% if !category.category.nil? %>
				<img src="/org-img/prod/arrow_categ.gif" border="0" height="10" width="13">
			<% end %>
			<a class="path1" href="/jm/search?as_categ_id=<%= category.id %>"><%= category.name %></a>			
		<% end %>
	</div>  
	</div> 

    </div> 

    <!-- PREHEADER --> 
    <div></div> 
    <!-- TITULO DEL ITEM --> 

<div id="boxgral">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="41%" rowspan="2" align="center" valign="top">
<div class="marcofoto">
<table align="center" class="photoframe">
	<tr>
		<td align="center" width="280" height="280" id="tdMainImg">
			<div id="divMainImg" style="display:inline">
			<a href="javascript:showVisor()" id="linkMainImg">
				<img src="http://www.mercadolibre.com.ar/jm/img?s=MLA&f=<%=h @item.image%>&v=E" id="mainImg" border="none" align="top" alt="<%=h @item.title %>" title="<%=h @item.title %>"/>
			</a>
			</div>
		
		</td>
	</tr>
</table>

</div></td>
<td width="59%" valign="top" style="padding:0 5px 0 10px;">

<h1><%=h @item.title %></h1>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="16%" height="25"><%=t :precio %>:</td>
<td width="84%" valign="middle"><span class="price">$ <%= @item.price %><span class="decimales">99</span></span></td>
</tr>
<tr>
</tr>
<tr>
<td height="25"><%=t :ubicacion %>:</td>
<td>Capital Federal (Zona Alto Palermo)</td>
</tr>

<tr>
<td height="25" valign=top><div id="endtxt1"></div></td>
<td height="25" valign=top><div id="endtxt2"><span class="font11Grey" id="endtxt3"></span></div>
<div style="margin-top: 8px;"></div>
<div class="purchase"><input type="button" id="BidButtonTop" class="but_pri_1" value="Comprar" title="Comprar"></div>
 <span class="font11"><%=t :tucompra %>.</span></td>
</tr>
</table>
<div class="dashed"></div>

<div class="box">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td style="padding-top: 2px;" valign="top" width="16%"><%=t :vendedor %>: </td>
<td class="datavend" valign="top" width="84%">

<div><span id="Nickname">	<span id="MyNickname" style="margin-top: 5px; display: inline; float: left; padding-bottom: 2px;">
		 <%= @customer.nickname %>  
	</span>
<span title="">

</span><div style="clear: both;"></div>
</span>
</div>
<span class="font11" style="clear: both;"><div id="CalifPercentage" style="width: auto; clear: both;"><div id="puntos"><%=t :calificacion %>: 
	<%= @customer.points %> <%=t :puntos %>
</div>



<div id="posneg"> 
    <div id="caja_pos"> 
    	<span id="link_pos">
          <% if Integer(@customer.qty_calif) > 0 then %>
          (<%= Integer(@customer.points) * 100 / Integer(@customer.qty_calif) %>%
          <% end %>
        </span> 
		<span id="img_pos" class="pos"></span>)
    </div>
    <div id="caja_neg"> 
	<span id="link_neg">
        <% if Integer(@customer.qty_calif) > 0 then %>  
        (<%= 100 - Integer(@customer.points) * 100 / Integer(@customer.qty_calif) %>%</span> 
	<% end %>
        <span id="img_neg" class="neg"/></span>)
	</div> 
</div></div>
<br>
<div style="clear: both;">
<%=t :ventas %>: <%= @item.bids_count %> <a href=""></a>
</div>
<br />
</span></td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</div>
<div class="font11 denunhd"><%=t :publicacion %> #123456789</div>