<h1>Editing item</h1>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :site_id %><br />
    <%= f.text_field :site_id %>
  </p>
  <p>
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :bids_count %><br />
    <%= f.text_field :bids_count %>
  </p>
  <p>
    <%= f.label :cust_id %><br />
    <%= f.text_field :cust_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @item %> |
<%= link_to 'Back', items_path %>