<% content_for :title do %>
  <%= t 'item.title' %> 
<% end %>

<h1>Listing items</h1>

<table>
  <tr>
    <th>Site</th>
    <th>Item</th>
    <th>Title</th>
    <th>Image</th>
    <th>Description</th>
    <th>Price</th>
    <th>Bids count</th>
    <th>Cust</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%=h item.site_id %></td>
    <td><%=h item.item_id %></td>
    <td><%=h item.title %></td>
    <td><%=h item.image %></td>
    <td><%=h item.description %></td>
    <td><%=h item.price %></td>
    <td><%=h item.bids_count %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item', new_item_path %>
