<h1>Listing catalog_products</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @catalog_products.each do |catalog_product| %>
  <tr>
    <td><%=h catalog_product.name %></td>
    <td><%= link_to 'Show', catalog_product %></td>
    <td><%= link_to 'Edit', edit_catalog_product_path(catalog_product) %></td>
    <td><%= link_to 'Destroy', catalog_product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New catalog_product', new_catalog_product_path %>