<div id="footer_cont"> 
  <div class="footer_reng"> 
    
    
  </div> 
  <div class="footer_reng"><a href="http://www.mercadolibre.com.ar/argentina/ml/org_theme.p_main?as_theme_id=NEW_SOBRE_ML"><%=t :sobre_ml %></a> | <a href="http://www.mercadolibre.com.ar/sitemap.html"><%=t :mapa %></a> | <a href="http://www.mercadolibre.com.ar/seguro_home.html"><%=t :politicas %></a> | <a href="http://www.mercadolibre.com.ar/argentina/ml/p_loadhtml?as_menu=CSEG&amp;as_html_code=CSEG01"><%=t :centro %></a> | <a href="http://www.mercadopago.com/argentina/ml/p_loadhtml?as_menu=M06S03&amp;as_html_code=PROTECCION_COMPRADOR"><%=t :programa %></a> | <a href="http://opinion.mercadolibre.com.ar"><%=t :opiniones %></a></div> 
  
<div align="center" class="footer_reng"><b><%=t :argentina %></b> | <a href="http://www.mercadolivre.com.br"><%=t :brasil %></a> | <a href="http://www.mercadolibre.com.co"><%=t :colombia %></a> | <a href="http://www.mercadolibre.co.cr"><%=t :costarica %></a> | <a href="http://www.mercadolibre.cl"><%=t :chile %></a> | <a href="/jm/ml.track.me?k1=FOOT&amp;k2=EBAY&amp;go=http://www.ebay.com/"><%=t :ebay %></a> | <a href="http://www.mercadolibre.com.ec"><%=t :ecuador %></a> | <a href="http://www.mercadolibre.com.mx"><%=t :mexico %></a> | <a href="http://www.mercadolibre.com.pa"><%=t :panama %></a> | <a href="http://www.mercadolibre.com.pe"><%=t :peru %></a> | 
  <a href="http://www.mercadolibre.com.do"><%=t :repdominicana %></a> | <a href="http://www.mercadolibre.com.uy"><%=t :uruguay %></a> | <a href="http://www.mercadolibre.com.ve"><%=t :venezuela %></a></div>
<div id="footer_fin">El uso de este sitio web implica la aceptaci&oacute;n de los <a target="_blank" href="http://www.mercadolibre.com.ar/seguro_terminos.html">T&eacute;rminos y Condiciones</a> y de las <a href="http://www.mercadolibre.com.ar/org-img/html/MLA/seguro_privacidad.html">Pol&iacute;ticas de Privacidad</a> de MercadoLibre S.A.<br> 
    Copyright &copy; 1999-2010 MercadoLibre S.A.</div> 
</div>