<!--##MENU## es el menu -->
	<div class="under" id="contmenu"> 
  <div class="menu_der"> 
    <div id="first_lnk_menu_der"><a href="/"><%=t :inicio %></a></div>
	<script>setLog();</script> 
    <div class="lnk_menu_der"><a href="/ayuda_home"><%=t :ayuda %></a></div> 
    <div class="lnk_menu_der"><a href="/jm/myML"><%=t :mi_ml %></a></div> 
    <div class="lnk_menu_der"><a href="/jm/sell"><%=t :vender %></a></div> 
    <div class="lnk_menu_der"><a target="_blank" href="/jm/reg"><%=t :registrate %></a></div> 
  </div> 
  <div class="borra"></div> 
  <div class="flota_izq"><a href="/"> 
    <div class="logo_ml"></div> 
    </a></div> 
  <div class="menu_der"> 
    <div id="bg_menu"> 
      <div id="cont_buscador"> 
        <input type="text" onfocus="javascript:setFocus()" onblur="javascript:setBlur()" value="" maxlength="60" id="as_inner_word" name="as_word" class="buscador"> 
      </div> 
      <div id="bot_buscar"> 
        <input type="submit" class="buscar" value="" onclick="innerSearch();"> 
      </div> 
    </div> 
  </div> 
</div>
<!--##MENU## -->